* {
    background-color: aliceblue;
    margin-left: 50px;
    margin-right: 50px;
}

body {
    font-style: normal;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 100%
}

h1 {
    font-size: 3em;
    text-align: center;
}

nav{
    border-style: dotted;
    border-radius: 20px;
    text-align: center;
}

h2{
    font-size: 2em;
}

h3{
    font-size: 1.5em;
}

footer{
    text-align: center;
}

.Intro {
    color: red;
}

.Guide {
    color:aqua;
    padding-top: 100px;
    padding-bottom: 100px;
}

.Links {
    font-size: 1.25em;
}

.ul {
    color:darkslateblue;
}

.ol {
    color:midnightblue;
}

#oldWhippets {
    height: 250px;
    width: 500px;
    border-radius: 50%;
    border: 5px solid black;
}